@use'../../../styles.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27vw;

    h2 {
        font-size: 1.25rem;
        margin-bottom: 4.5rem;
    }

    &__button-container {
        display: flex;
        gap: 2.7rem;
        flex-wrap: wrap;
        justify-content: center;

        button {
            border: 1px solid $color-font;
            border-radius: 0.25rem;
            background-color: transparent;
            width: 11.125rem;
            height: 3rem;
            color: $color-font-smoke;
            font-size: 1rem;
            font-weight: bold;

        }

        button:hover {
            background-color: $color-hover;
            color: $color-font;
            cursor: pointer;
        }
    }
}