<div class="container">
    <h2>BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE. BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE.</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ullamcorper erat, sed venenatis odio id
        imperdiet ornare. Nisi duis vehicula ipsum ac accumsan, libero ipsum sem velit, non integer consequat massa
        vestibulum hendrerit at quam. Curabitur vitae sed ut dolor in nulla sem sem, sodales cursus lorem ultrices
        lacus. Lacus in risus consequat sagittis eu sed velit. Maecenas euismod eu orci et porttitor. Nunc lobortis
        porta ante vitae et feugiat mollis aliquam non. Curabitur placerat vestibulum tellus, hendrerit vel libero sit
        hac habitasse platea dictumst. Phasellus fringilla sem eget interdum risus pellentesque vel velit. Vivamus
        ultrices vitae elit augue, et facilisis. Praesent vestibulum arcu at ex ornare, id laoreet dui aliquam.
    </p>
</div>