@use'../../../styles.scss' as *;


footer {
    background-color: $color-background-footer;
    width: 100%;
    height: 8.75rem;
    margin-top: 13.375rem;
    position: relative;

    .container {
        height: 100%;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__box {
            flex: 1;

            div {
                height: 6.125rem;
                width: 6.125rem;
                border: 1px solid $color-footer-logo;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    font-size: 1.5rem;
                    margin-left: 0.625rem;
                    color: $color-footer-logo;
                }

                &:hover {
                    border-color: $color-hover;
                    cursor: pointer;

                    p {
                        color: $color-font-smoke;
                    }
                }
            }
        }

        &__logo {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            cursor: default;

            div {
                margin-left: 0.375rem;
                margin-right: 0.375rem;
                border-bottom: 1px solid $color-footer-logo;
                width: 3.4rem;
            }

            p {
                color: $color-footer-logo;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        &__button {
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;

            button {
                background-color: transparent;
                color: $color-font-smoke;
                width: 16.75rem;
                height: 3rem;
                border: 1px solid $color-footer-logo;
                font-size: 1rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .material-symbols-outlined {
                    color: $color-font-smoke;
                    margin-left: 0.5rem;
                    font-size: 1.6rem;
                    transition-duration: 300ms;
                }

                &:hover {
                    color: $color-font;
                    border-color: $color-font;

                    .material-symbols-outlined {
                        color: $color-font;
                    }
                }
            }
        }
    }

    .list {
        background-color: $color-font;
        width: 16.75rem;
        position: absolute;
        bottom: 100%;
        right: 0;
        margin-right: 3.75rem;
        transition: transform 0.3s ease;
        transform-origin: bottom;
        transform: scaleY(0);
        overflow: hidden;
        box-shadow: 0 -5px 10px 10px rgba(0, 0, 0, 0.3);

        button {
            background-color: transparent;
            color: $color-background-footer;
            border: none;
            font-weight: 650;
            font-size: 0.95rem;
            margin-left: 1rem;
            display: flex;
            align-items: center;

            &:first-child {
                margin-top: 1rem;
            }

            &:last-child {
                margin-bottom: 1rem;
            }

            span {
                color: $color-background-footer;
                font-size: 1.8rem;
            }

            &:hover {
                color: $color-hover;
                cursor: pointer;

                span {
                    color: $color-hover;
                }
            }
        }
    }
}

footer.active {
    .container__button {
        button {
            .material-symbols-outlined {
                transform: rotate(180deg);
            }
        }
    }

    .list {
        transform: scaleY(1);
        height: auto;
    }
}