<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<footer>
    <div class="container">
        <div class="container__box">
            <div>
                <p>CSS</p>
                <p>IS</p>
                <p>AWESOME</p>
            </div>

        </div>
        <div class="container__logo">
            <div></div>
            <p>nabthat</p>
            <div></div>
        </div>
        <div class="container__button">
            <button>
                POKAŻ
                <span class="material-symbols-outlined">
                    keyboard_arrow_up
                </span>
            </button>
        </div>
    </div>

    <div class="list">
        <button>
            <span class="material-symbols-outlined">
                keyboard_arrow_right
            </span>
            ZRESETUJ USTAWIENIA
        </button>
        <button>
            <span class="material-symbols-outlined">
                keyboard_arrow_right
            </span>
            POKAŻ DANE OSOBOWE
        </button>
    </div>

</footer>