@use'../../../styles.scss' as *;


footer {
    background-color: $color-background-footer;
    width: 100%;
    height: 8.75rem;
    margin-top: 13.375rem;
    position: relative;

    .container {
        height: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $breakpoint-sm) {
            padding-left: 3.75rem;
            padding-right: 3.75rem;
        }

        &__box {
            flex: 1;

            &__flex {
                height: 6.125rem;
                width: 6.125rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;

                @media (min-width: $breakpoint-sm) {
                    height: 6.125rem;
                    width: 6.125rem;
                }

                p {
                    font-size: 1rem;
                    margin-left: 0.625rem;
                    color: $color-footer-logo;

                    @media (min-width: $breakpoint-sm) {
                        font-size: 1.5rem;
                        
                    }
                }

                div {
                    border: 1px solid $color-footer-logo;
                    height: 4.25rem;
                    width: 4.25rem;
                    z-index: 100;
                    position: absolute;

                    @media (min-width: $breakpoint-sm) {
                        height: 6.125rem;
                        width: 6.125rem;
                    }
                }

                &:hover {
                    cursor: pointer;

                    div {
                        border-color: $color-hover;
                        transition-duration: 1s;
                        transform: rotate(360deg);
                    }

                    p {
                        color: $color-font-smoke;
                    }
                }

            }
        }

        &__logo {
            display: none;
            flex: 1;
            align-items: center;
            justify-content: center;
            cursor: default;

            @media (min-width: $breakpoint-lg) {
                display: flex;  
            }

            div {
                margin-left: 0.375rem;
                margin-right: 0.375rem;
                border-bottom: 1px solid $color-footer-logo;
                width: 3.4rem;
            }

            p {
                color: $color-footer-logo;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        &__button {
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;

            span {
                color: $color-font-smoke;
            }

            %button-shared-styles {
                background-color: transparent;
                color: $color-font-smoke;
                width: 10rem;
                height: 2.25rem;
                border: 1px solid $color-footer-logo;
                font-size: 0.7rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @media (min-width: $breakpoint-sm) {
                    width: 16.75rem;
                    height: 3rem;
                    font-size: 1rem;
                }

                .material-symbols-outlined {
                    color: $color-font-smoke;
                    margin: 0.5rem;
                    font-size: 1rem;

                    @media (min-width: $breakpoint-sm) {
                        font-size: 1.6rem;
                    }
                }

                &:hover {
                    color: $color-font;
                    border-color: $color-font;

                    span {
                        color: $color-font;
                    }
                }
            }

            &__show {
                @extend %button-shared-styles;
                position: absolute;

                &:focus {
                    background-color: $color-hover;
                    z-index: -1;
                }

                &:focus~.container__button__list {
                    transform: scaleY(1);
                    height: auto;
                }

                &:focus~.container__button__hidden {
                    z-index: 100;

                    .material-symbols-outlined {
                        transition-duration: 300ms;
                        transform: rotate(180deg);
                    }
                }
            }

            &__hidden {
                @extend %button-shared-styles;
                z-index: -1;
            }

            &__list {
                background-color: $color-font;
                width: 16.75rem;
                position: absolute;
                bottom: 100%;
                right: 0;
                margin-right: 0.25rem;
                transition: transform 0.3s ease;
                transform-origin: bottom;
                transform: scaleY(0);
                overflow: hidden;
                box-shadow: 0 -5px 10px 10px rgba(0, 0, 0, 0.3);

                @media (min-width: $breakpoint-sm) {
                    margin-right: 3.75rem;
                }

                &__button {
                    background-color: transparent;
                    color: $color-background-footer;
                    border: none;
                    font-weight: 650;
                    font-size: 0.95rem;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;

                    &:first-child {
                        margin-top: 1rem;
                    }

                    &:last-child {
                        margin-bottom: 1rem;
                    }

                    span {
                        color: $color-background-footer;
                        font-size: 1.8rem;
                    }

                    &:hover {
                        color: $color-hover;
                        cursor: pointer;

                        span {
                            color: $color-hover;
                        }
                    }
                }
            }
        }
    }
}