<div class="container">
    <h2>BLOK PIERWSZY</h2>
    <div class="container__options">
        <div>
            <input id="option1" name="option" type="radio" value="option1" hidden (change)="setOption('first')" />
            <label for="option1" class="container__options__custom-radio">
                <span class="container__options__custom-radio__circle"></span>
                <span class="container__options__custom-radio__text">Opcja pierwsza</span>
            </label>
        </div>
        <div>
            <input id="option2" name="option" type="radio" value="option2" hidden (change)="setOption('second')" />
            <label for="option2" class="container__options__custom-radio">
                <span class="container__options__custom-radio__circle"></span>
                <span class="container__options__custom-radio__text">Opcja druga</span>
            </label>
        </div>
        <div>
            <input id="option3" name="option" type="radio" value="option3" hidden (change)="setOption('random')" />
            <label for="option3" class="container__options__custom-radio">
                <span class="container__options__custom-radio__circle"></span>
                <span class="container__options__custom-radio__text">Opcja losowa</span>
            </label>
        </div>
    </div>

</div>