<div class="flex">
    <h2>BLOK PIERWSZY</h2>
    <div class="flex__options-container">
        <div>
            <input id="option1" name="option" type="radio" value="option1" hidden />
            <label for="option1" class="custom-radio">
                <span class="custom-radio__circle"></span>
                <span class="custom-radio__text">Opcja pierwsza</span>
            </label>
        </div>
        <div>
            <input id="option2" name="option" type="radio" value="option2" hidden />
            <label for="option2" class="custom-radio">
                <span class="custom-radio__circle"></span>
                <span class="custom-radio__text">Opcja druga</span>
            </label>
        </div>
        <div>
            <input id="option3" name="option" type="radio" value="option3" hidden />
            <label for="option3" class="custom-radio">
                <span class="custom-radio__circle"></span>
                <span class="custom-radio__text">Opcja losowa</span>
            </label>
        </div>
    </div>

</div>